:root {
  --selectedColor: hsl(0,100%,50%);
}

html,
body {
  background: #1d1d25;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.5em 0;
  font-size: 2rem;
}

h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
}

h4 {
  margin-top: 0.5em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
p {
  margin: 0;
  font-size: 12px;
}
