@font-face {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/Spectral/spectral-v7-latin-regular.woff") format("woff2"),
    url("/fonts/Spectral/spectral-v7-latin-regular.woff2") format("woff");
}

html {
  background: #1d1d25;
}

body {
  color: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Spectral";
  line-height: 10px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.5em 0;
  font-size: 2rem;
}

h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
}

h4 {
  margin-top: 0.5em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
p {
  margin: 0;
  font-size: 12px;
}

input, button {
  font-family: "Spectral";
  background: rgba(40, 32, 25, 0.8);
  outline: none;
  border: 1px solid #d9d4adad;
  font-size: 1em;
  padding: 0.5em;
  color: white;
  border-radius: 50px;
}

button {
  padding: 0.5em 2em;
  cursor: pointer;
}

input:hover, input:focus, button:hover,
button:focus {
  border-color: #d9d4ad;
}