.main {
  position: absolute;
  inset: 0.5vw;
  width: 99vw;
  height: 99vh;
}

.centerContainer {
  position: relative;
  display: block;
  width: 52%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1.5% 0 2%;
}

.svgPreview {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}

.colorPicker,
.stonePicker,
.haloPicker {
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  max-width: 290px;
}

.colorPicker {
  position: absolute;
  left: 1%;
  top: 64%;
}

.haloPicker {
  position: absolute;
  left: 37.5%;
  top: 71.9%;
}

.stonePicker {
  position: absolute;
  left: 70%;
  top: 64%;
}

.iconTest {
  display: flex;
}
