.main {
  position: absolute;
  inset: 0.5vw;
  width: 99vw;
  height: 99vh;
}

.centerContainer {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 100%;
  padding-bottom: 2%;
}

.svgPreview {
  position: absolute;
  top: 15.5%;
  left: 0;
  width: 100%;
}

.colorPicker,
.stonePicker {
  aspect-ratio: 1;
  width: 15%;
  border: 3px solid green;
  border-radius: 50%;
}

.colorPicker {
  position: absolute;
  left: 24%;
  top: 63%;
}

.stonePicker {
  position: absolute;
  left: 60.1%;
  top: 63.2%;
}
