.centerContainer {
  position: relative;
  display: block;
  max-width: 61%;
  margin: 0 auto;
  max-height: 82vh;
  aspect-ratio: 1 / 0.9502813647;
}

.createLayout {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}

.wandsContainer {
  padding: 0 9vw 0;
  position: relative;
}

.animateOnMint {
  transition: opacity 3s ease-in-out, filter 2.5s 0.5s;
}

.minting {
  opacity: 0;
}

.hasSvg {
  transition-duration: 1s;
}

.minting:not(.hasSvg) {
  /* You can't apply a filter to a parent of svgs */
  filter: blur(30px);
}

.svgPreview {
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  transition: transform 3s 0.25s ease-in-out, filter 2.5s 0.5s;
  transform-origin: top center;
}

.mintingPreview {
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.85));
  transform: translateY(-5%) scale(1.65);
}

.colorPicker,
.stonePicker,
.haloPicker {
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  max-width: 312px;
}

.colorPicker {
  position: absolute;
  left: 3%;
  top: 50.8%;
}

.haloPicker {
  position: absolute;
  left: 37.5%;
  top: 69.6%;
}

.stonePicker {
  position: absolute;
  left: 72.1%;
  top: 50.8%;
}

.downloadButtons {
  position: fixed;
  bottom: 2.1vw;
  left: 2.7vw;
  display: flex;
  width: 10.25%;
  column-gap: 8%;
  max-width: 190px;
}
.recastButton {
  position: fixed;
  bottom: 1.1vw;
  right: 1.5vw;
  width: 7.5%;
  max-width: 165px;
}

@media (max-width: 500px) {
  .wandsContainer {
    padding: 0 16vw 0;
  }
}
