.container {
  padding: 0 2rem;
}

.main {
  height: calc(98vh - 3rem);
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wandImage {
  width: 45%;
  max-width: 400px;
  margin: 0 auto;
}
.ui {
  display: flex;
  justify-content: center;
}
