html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
