.container {
  padding: 0 2rem;
}

.main {
  height: calc(98vh - 3rem);
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tools {
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}

.wandImage {
  width: 45%;
}

.toolList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
}
.tools label,
.tools input,
.tools select {
  margin-top: 5px;
  display: block;
  width: 100%;
}
