.containerCircle {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}
.uiCircle {
  position: absolute;
  inset: 10%;
  z-index: 10;
  width: 80%;
}
.childrenContainer {
  position: absolute;
  inset: 0;
}
