.layerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingContainer {
  min-width: 200px;
  border: 1px solid navy;
  padding: 1em;
}
.fullWidth {
  width: 100%;
}

.formContainer {
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
}
.inputGroup {
  margin: 10px 5px;
}
.inputGroup label {
  display: block;
  font-size: 12px;
}
.inputGroup input {
  width: 100%;
}
.layerHeader {
  display: flex;
  justify-content: space-between;
}
.rhythmContainer {
  aspect-ratio: 1;
  width: 200px;
  border: 1px solid lightblue;
  position: relative;
}
.rhythmCheck {
  display: block;
  aspect-ratio: 1;
  width: 7%;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.rhythmCheck input {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-90px);
  cursor: pointer;
}
.rhythmCheck input.uncontrolled {
  opacity: 0.4;
}
.rhythmCheck input:hover {
  opacity: 1;
}

.hueSelectContainer {
  position: relative;
  margin-top: 10px;
}
.hueIndicator {
  position: absolute;
  width: 3px;
  height: 60px;
  top: -5px;
  left: 0px;
  background: red;
}
.hueSelect {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 200px;
  height: 50px;
}
.hueSingle {
  height: 100%;
  width: 0.2778%;
}
.hueSVG {
  height: 100%;
  width: 100%;
}
.singleGradSlider {
  width: 100%;
  height: 50px;
}
.stoneList ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.stoneList li {
  width: 10%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.stoneViewSvg {
  width: 300%;
  position: absolute;
  top: -109%;
  left: -100%;
}
