.colorPicker {
  position: absolute;
  bottom: 5vh;
  left: calc(50% - 400px);
}

.knob {
  position: absolute;
  top: -10px;
  left: 140px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  background: #e2e2e2;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2), 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}