.container {
  cursor: grab;
}

.stone {
  pointer-events: none;
  width: 45%;
  height: 45%;
  margin: 27.5%;
  overflow: hidden;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
}
.stoneViewSvg {
  width: 387%;
  position: absolute;
  top: -155%;
  left: -144%;
  z-index: 11;
}

.icon {
  position: absolute;
  z-index: 12;
  bottom: -4%;
  right: -4%;
  width: 20%;
}
.bgCircle {
  position: relative;
  z-index: 5;
}
