.rhythm {
  cursor: pointer;
  fill: transparent;
  transition: all 0.05s ease;
}

.rhythmActive {
  fill: rgba(111, 255, 229, 0.7);
}

.rhythm:hover {
  fill: rgba(111, 255, 229, 0.4);
}

.haloButtonContainer {
  width: 14%;
  position: absolute;
  z-index: 12;
}

.haloSvg {
  position: absolute;
  inset: 0;
}

.segmentSvg {
  z-index: 12;
}

.frameSvg {
  z-index: 11;
  mix-blend-mode: color-dodge;
}

.halo0 {
  top: 28%;
  left: 35%;
}
.halo1 {
  top: 28%;
  right: 35%;
}
.halo2 {
  top: 58%;
  right: 35%;
}
.halo3 {
  top: 58%;
  left: 35%;
}
.halo4 {
  top: 43%;
  left: 26%;
}
.halo5 {
  top: 43%;
  right: 26%;
}
.icon {
  position: absolute;
  bottom: -21%;
  right: 40%;
  width: 20%;
}
