.container {
  padding: 0 1rem;
  background: url(/firstFrame.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
