.container {
  animation: fadeIn 1s ease-in-out forwards;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.2);
}

.main {
  animation: fadeIn 1s 0.75s ease-in-out forwards;
  width: 80%;
  max-width: 400px;
  min-height: 10rem;
  padding: 2em;
  opacity: 0;
  position: relative;
  background: rgba(40, 32, 25, 0.4);
  box-shadow: 0px 48px 96px rgba(0, 0, 0, 0.8);
}

.content {
  width: 100%;
  height: 100%;
  z-index: 101;
}

.frame {
  position: absolute;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomRight {
  position: absolute;
  bottom : 0;
  right: 0
}
.borderLeft {
  position: absolute;
  top: 75px;
  height: calc(100% - 150px);
  left: 0;
}
.borderRight {
  position: absolute;
  top: 75px;
  height: calc(100% - 150px);
  right: 0;
}
.borderTop {
  position: absolute;
  left: 75px;
  width: calc(100% - 150px);
  top: 0;
}
.borderBottom {
  position: absolute;
  left: 75px;
  width: calc(100% - 150px);
  bottom: 0;
}

.frame path, .frame circle {
  stroke-width: 0.15vw;
  stroke-opacity: 0.5;
  stroke: #d9d4ad;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
