.wandContainer {
  aspect-ratio: 2/3;
  width: 100%;
  cursor: pointer;
  border: 2px solid #aea87100;
}

.wandContainer:hover {
  border: 2px solid #aea871;
}

.wandContainer img {
  display: block;
}

.wandGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding-top: 7vw;
}
