@keyframes fadeIn {
  0% {
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(50px);
    opacity: 0;
  }
}

.frameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 50vh;
  transition: max-height 0.5s ease-in-out;
  row-gap: 2em;
}

.frameTextWrapper {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 88%;
}

.frameText {
  color: transparent;
  display: inline-block;
  font-size: 1.5rem;
  text-shadow: 0 0 0 whitesmoke;
  line-height: 1.35;
  opacity: 0;
  margin-right: 0.4rem;
  text-align: center;
}

.imagesWrapper {
  display: flex;
  width: 100%;
  height: 50%;
  column-gap: 20px;
  justify-content: center;
}

.frameImage {
  height: auto;
  object-fit: contain;
  opacity: 0;
}

.frameSVG {
  opacity: 0;
}

.frameSVG svg {
  height: 100%;
  width: 100%;
}

.animateIn {
  animation: fadeIn var(--animationDuration, 0.75s) var(--fadeInDelay, 0s) ease-in-out forwards;
}

.animateOut {
  animation: fadeOut var(--animationDuration, 0.75s) var(--fadeOutDelay, 0s) ease-in-out forwards;
  opacity: 1;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.progressDot {
  background-color: #66623f;
  border: 1px solid #fff;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  width: 0.5rem;
  aspect-ratio: 1/1;
  margin-right: 0.75rem;
  transition: all 0.75s 0.25s ease-in-out;
  transform: rotate(45deg);
}

.progressDot.activeDot {
  background-color: #DCD7AF;
  opacity: 0.8;
}

.iconButton {
  animation: fadeIn 1.5s ease-in-out forwards;
  position: absolute;
  border-radius: 999px;
  box-shadow: 0 24px 64px rgba(0,0,0,0.8);
  width: 3.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: filter 0.5s ease-in-out;
}

.iconButton:active:not(.disabled) {
  transform: translateY(-50%) scale(0.96);
}

.forwardButton {
  animation-delay: 0.5s;
  right: -80px;
}

.backwardButton {
  left: -80px;
}

.buttonWrapper {
  opacity: 0;
  position: relative;
  z-index: 100;
}

@media (max-width: 800px) {

  .iconButton {
    top: calc(100% + 48px);
  }
  .forwardButton {
    right: 80px;
  }

  .backwardButton {
    left: 80px;
  }
}
